/* css */

@font-face {
    font-family: 'Hello';
    src: url('../font/VictorsPixelFont.eot');
    src: url('../font/VictorsPixelFont.eot?#iefix') format('embedded-opentype'),
        url('../font/VictorsPixelFont.woff') format('woff'),
        url('../font/VictorsPixelFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin:0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'Helvetica', Arial, Sans;
  font-weight: normal;
  font-style: normal;
  background: url(../images/bg-02.png) repeat 50% 0;
  font-size: 16px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  color: #fff;
  /*font-smooth: never;
  -webkit-font-smoothing : none; */
}

/* stats */

#navigation {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
}

#navigation ul,
#navigation ul li {
  margin:0;
  padding: 0;
  list-style: none;
}

#navigation ul li {
  float: left;
  padding: 10px;
}

.stats {
  float: left;
  height: 50px;
  margin-left: 10px;
}

.days {
  float: right;
  height: 50px;
  margin-right: 10px;
}

/* events */

#event {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  max-width: 600px;
  overflow: hidden;
  color: #666;
}

#event .visual {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  /* background: red; */
}

#event .visual .inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background: #666;
  height: 100px;
  /*
  border: 4px solid #222;
  */
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease; /* for color switch */
}

#event .visual .inner .illu{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/illu/sprite-01.png);
  background-repeat: no-repeat;
  /* background-size: auto 100%; */
}

#event .description {
  /* top: 70%; */
  position: relative;
  height: 30%;
  width: 70%;
  margin: auto;
}

#event .description p{
  margin: 30px auto;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  text-shadow: 0 4px 0 #000;
}

#exits {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  max-width: 600px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#exits.hidden {
  bottom: -150px;
}

#exits li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: relative;
  height: 120%;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 49%;
  bottom: -20%;
  background: #444;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 0 3px 0 #000;
  box-shadow: inset 0 4px 0 #555;
  color: #fff;
}

#exits li:nth-child(even) {
  float: right;
}

#exits li span {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;

  cursor: pointer;
}

#exits:hover li{
  background: #333;
  box-shadow: inset 0 4px 0 #444;
  color: #ccc;
}

#exits li:hover {
  bottom: -10%;
  background: #444;
  box-shadow: inset 0 4px 0 #555;
  color: #fff;
}

#exits.single li {
  width: 100%;
}
