/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 4.5rem;
  position: relative;
}

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}


/* events list page */
.valueOk {
  color: #00cc66;
  text-decoration: none;
}
.valueOk:hover {
  color: #00cc66;
  text-decoration: underline;
}
.valueError {
  color: #cc0066;
  text-decoration: none;
}
.valueError:hover {
  color: #cc0066;
  text-decoration: underline;
}
.valueGrey {
  color: #ccc;
}

.prob_value,
.descriptionLength {
  float:right;
}

/* visuals edit page */
.list-visuals {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-visuals li {
  margin: 0;
  padding: 0;
  float: left;
  width: 120px;
  height: 120px;
  background: #999;
  margin: 0 20px 20px 0;
  border-radius: 60px;
  cursor: pointer;
  background-image: url(./../../../images/sprite-01.png);
}

.list-visuals li span {
  display: none;
}

/* tree */
ul.tree, ul.tree ul {
   list-style: none;
    margin: 0;
    padding: 0;
  }
  ul.tree ul {
    margin-left: 10px;
  }
  ul.tree li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    font-weight: bold;
    border-left:1px solid rgb(100,100,100);

  }
  ul.tree li:last-child {
      border-left:none;
  }
  ul.tree li:before {
     position:relative;
     top:-0.3em;
     height:1em;
     width:12px;
     color:white;
     border-bottom:1px solid rgb(100,100,100);
     content:"";
     display:inline-block;
     left:-7px;
  }
  ul.tree li:last-child:before {
     border-left:1px solid rgb(100,100,100);
  }

  a.nodeCreate {
    color: #cc0066;
  }


.objHolder {
  display: none;
}

.newObj {
  white-space: pre;
  font-family: monospace;
  color: #666;
  background: #eee;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}

.imgContainer {
  width: 100%;
  background: #999;
  border-radius: 50%;
  position: relative;
}

.imgContainer.is-invalid {
  border: 1px solid #dc3545;
}

.imgContainer a,
.imgContainer a:hover {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.imgContainer a span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1040;
    left: 0;
    top: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  height: 80%;
  width: 80%;
  left: 50%;
  margin-left: -40%;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay .list-visuals {
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  right: -17px;
  left: 0;
  top: 0;
  bottom: 0;
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
