/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 4.5rem;
}

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}


/* events list page */
.valueOk {
  color: #00cc66;
  text-decoration: none;
}
.valueOk:hover {
  color: #00cc66;
  text-decoration: underline;
}
.valueError {
  color: #cc0066;
  text-decoration: none;
}
.valueError:hover {
  color: #cc0066;
  text-decoration: underline;
}
.valueGrey {
  color: #ccc;
}

.prob_value {
  float:right;
}

/* visuals edit page */
.list-visuals {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-visuals li {
  margin: 0;
  padding: 0;
  float: left;
  width: 120px;
  height: 120px;
  background: #999;
  margin: 0 20px 20px 0;
  border-radius: 60px;
  cursor: pointer;
  background-image: url(./../../../images/sprite-01.png);
}

.list-visuals li span {
  display: none;
}
